
.modal-game-container{
    background-image: url(/static/media/background_spotlight.f4f0b632.jpg);
    filter: brightness(2);
    background-repeat: no-repeat;
    background-size: cover;
    .game-thumbnail{
        width: 50%;
        height: 100%;
    }
    .title{
        max-width: 14ch;
        overflow: hidden;
        white-space: nowrap;
    }
    .modal-buttons{
        width: 40px;
    }
    
}
.money-sum{
    margin-inline-start: 30px;
}