@import "../../assets/styles/setup/variables";

.info-card {
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a0d8ff;
  color: $clr2;
  justify-content: space-around;
  border: 2px solid $clr6;
  .data {
    font-weight: bold;
    font-size: 1.5rem;
    color: $clr2;
  }
}
