@import "../../assets/styles/setup/_mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.play-container {
  > *:first-child {
    margin-block-start: 20px;
    margin-block-end: 20px;
    text-align: center;
  }

  .game-content-container {
    flex-direction: column;
    & iframe {
      height: 66vh;
      width: 100%;
      @include for-normal-layout {
        width: 90%;
      }
    }

    @include for-normal-layout {
      flex-direction: row;
    }

    .comments-container {
      background-color: $clr5;

      .social-content-container {
        padding: 15px;
        margin-block-end: 10px;
        overflow: overlay;
        color: white;
        max-height: 300px;
        @include for-normal-layout {
          height: 57.5vh;
          max-height: 57.5vh;
        }
      }

      textarea {
        text-align: center;
        font-family: inherit;
        resize: none;
        font-size: 1rem;
        background-color: $clr2;
        border-radius: 8px;
        min-width: 230px;
      }

      ::placeholder {
        color: rgb(241, 236, 236);
      }

      >*:last-child {
        margin-inline-end: 10px;
      }
      @include for-normal-layout {
        height: 66vh;
      }
    }
  }
}
