@import '../../assets/styles/setup/_mixins.scss';
@import '../../assets/styles/setup/variables.scss';


.social-content-container {
  margin-bottom: 10px;


  border-radius: 8px;
  max-height: 55vh;
  overflow: overlay;
  height: 66vh;
  padding: 15px;
  height: 300px;
    max-height: 300px;
    color: white;


  @include for-normal-layout {
    height: 410px;
    max-height: 525px;

}

  & button{
    border-radius: 8px;
  padding: 10px 15px;
  font-family: montserrat;
  font-size: 1rem;
  transition: background-color 0.4s;
  }
  & textarea{
    width: 100%;
  }
}
 
.comments-container{
  background-color: #0c1823;

  width: 50%;
  height: 66vh;

  textarea{
    width: 50%;
    background-color: lighten(#0c1823,20%);
    font-family: inherit;
    border-radius: 10px;
  }

}

.game-content-container{
  flex-direction: column;
  iframe{
    height: 66vh;
  }
  textarea{
    resize: none;
    width: 100%;
    font-family: inherit;
  }

  @include for-normal-layout {
      flex-direction: row;
  }
  
}