// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.grid{
  display: grid;
}

.pointer{
  cursor: pointer;
}
// Media helpers

// .square-ratio {
//     @include aspect-ratio(1, 1);
// }

//user img helper

.user-img {
  &.small {
    max-width: 95px;
    border-radius: 50%;
  }
}

//radio-helpers

#OwnedGames,
#Dashboard {
  display: none;
}

//search helpers

.search-input {
  flex: 1;
  border: none;
  padding: 0;
  margin-inline-start: 9px;
  margin-inline-end: 5px;
  min-height: 50px;
  background-color: inherit;
  &:focus + .search-x {
    opacity: 1;
  }
}

.search-x {
  height: 15px;
  width: 12px;
  position: absolute;
  right: 15px;
  opacity: 0;
}
