@import "../setup/mixins.scss";
@import "../setup/variables.scss";


.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  @include for-narrow-layout {
      max-width: $mobile-breakpoint;
  }
  @include for-normal-layout {
      max-width: $narrow-breakpoint;
  }
  @include for-wide-layout {
      max-width: $normal-breakpoint;
  }
}

// GRIDS

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px 20px;
  padding: 0;
}
