@font-face {
    font-family: audioWide;
    src: url(../../fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}