@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.game-card {
  cursor: pointer;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  .img-container {
    width: 100%;
    height: 140px;
    @include aspect-ratio(1.5, 1);
  }
  .details-container {
    background-image: url("../../assets/images/background_spotlight.jpg");
    filter: brightness(2);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .price {
    font-weight: bold;
  }
  strong {
    font-family: montserrat-bold, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.publisher {
      font-family: montserrat, sans-serif;
      font-size: 1rem;
      display: block;
      margin-bottom: 8px;
    }
  }
  .game-title {
    margin-inline-end: 10px;
  }
 
  .dsh-btn-container {
    width: 100%;
  }
}

.like-icon {
  width: 25px;
}
