@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.game-card {
  max-width: 300px;
  > *:not(:last-child) {
    margin-block-end: 5px;
  }
  .img-container {
    border-radius: 3px;
    width: 100%;
    height: 140px;
    @include aspect-ratio(1.5, 1);
  }

  .price {
    font-weight: bold;
  }

  .like-icon {
    width: 25px;
  }
}
