@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.game-card {
  cursor: pointer;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  .img-container {
    width: 100%;
    height: 140px;
    @include aspect-ratio(1.5, 1);
  }
  .details-container {
    background-image: url("../../assets/images/background_spotlight.jpg");
    filter: brightness(2);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 15px;
  }
  .price {
    font-weight: bold;
  }
  strong {
    font-family: montserrat-bold, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.publisher {
      font-family: montserrat, sans-serif;
      font-size: 1rem;
      display: block;
      margin-bottom: 8px;
    }
  }
  .game-title {
    margin-inline-end: 10px;
  }

  .play-btn-container {
    width: 100%;
    img {
      width: 30px;
    }
  }
}

.like-icon {
  width: 25px;
}

.dsh-game-card {
  border: 1px solid rgba(255, 255, 255, 0.842);
  .details-container {
    background-color: lighten(#3878a7,10%);
    background-image: none;
    filter: none;
    padding: 10px 15px;
    color: $clr6;
    strong {
      white-space: normal;
      overflow: visible;
    }
    :nth-child(1) {
      :first-child {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .dsh-btn-container {
    width: 100%;
    justify-content: flex-start;
    > * {
      padding: 5px 5px;
    }
    :hover {
      background-color: #517692;
    }
  }
}

.modal-card {
  .short-title {
    max-width: 22ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:0.9rem;
  }
  .details-container {
    background-image: url(/static/media/background_spotlight.f4f0b632.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    :first-child {
      > * {
        align-items: flex-start;
        margin-inline-start: 5px;
      }
    }
    >*:nth-child(2) {
      margin-inline-start: 9px;
      margin-inline-end: 8px;
      margin-block-end:3px;
    }
  }
  .img-container {
    width: 35%;
    .game-thumbnail {
      width: 100%;
      height: 100%;
    }
  }
}
