.game-card {
  background-color: lightgray;
  border: thin solid navy;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.img-container {
    width: 100%;
    height: 100px;
    @include aspect-ratio(1.5, 1);
}