@import "../../assets/styles/setup/variables.scss";

.desc-container {
  .game-thumbnail {
    margin-block-end: 10px;
  }
  .details {
    margin-block-end: 10px;
  }
  .publisher {
    font-size: 1.1rem;
    font-family:montserrat-bold ,montserrat;
    min-width: 80px;
  }
  .published {
    font-size: 0.85rem;
  }

  .rating-downloads {
    margin-block-end: 10px;
    > * {
      display: block;
    }
  }
  .description {
    margin-block-end: 15px;
  }

  .play-btn-container {
    border-radius: 8px;
    padding: 12px 18px;
    transition: background-color 0.3s;
    margin-inline-start: 5px;
    background-color: complement(#2052d0);
    border-radius: 8px;
      font-size: 1.2rem;
      font-family: montserrat;
    &:hover{
      background-color: #23862a;
    }
   
  }
}