@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";
@import "../../assets/styles/basics/helpers";

.game-main-container {
  width: 95%;
  margin: auto;
}

.social-content-container {
  margin-bottom: 10px;
  padding: 0;
  max-height: 250px;
  overflow: overlay;
  height: 250px;
  & textarea {
    height: 60px;
    width: 40%;
    resize: none;
    background-color: #336895;
    color: white;
    border: #2196f3;
    border-radius: 5px;
  }
  & div {
    margin-top: 5px;
  }
  & img {
    width: 50px;
  }
}

.add-button {
  background-color: lighten(#183348, 20%);
  border-radius: 8px;
  padding: 10px 15px;
  font-family: montserrat;
  font-size: 1rem;
  transition: background-color 0.4s;
  width: 150px;
  height: 50px;
  &:hover {
    background-color: lighten(#183348, 40%);
  }
}

.new-comment-container {
  margin-bottom: 10px;
  margin-top: 10px;
  textarea {
    height: 60px;
    width: 40%;
    resize: none;
    background-color: darken(#336895, 30%);
    color: white;
    border: #2196f3;
    border-radius: 5px;
    font-family: inherit;
    margin-inline-end: 5px;
  }
}

.reviews-container {
  padding: 0;
  border-radius: 8px;
  textarea {
    height: 60px;
    width: 40%;
    resize: none;
    background-color: darken(#336895, 30%);
    color: white;
    border: #2196f3;
    border-radius: 5px;
    font-family: inherit;
    margin-inline-end: 5px;
  }
  & img {
    width: 50px;
  }
  & button {
    background-color: lighten(#183348, 20%);
  }
  & button:hover {
    background-color: lighten(#183348, 40%);
  }

  & .review-container {
    padding: 10px;
    padding-block-start: 5px;
    background-color: #1d7096;
    margin-bottom: 10px;
  }

  .review-user-details {
    width: 150px;
    margin-inline-end: 14px;
  }
}
.like-img {
  filter: grayscale(1);
  margin-inline-end: 5px;
}
.dislike-img {
  filter: grayscale(1);
  margin-inline-end: 5px;
}

#like:checked ~ .like-img {
  filter: none;
}

#dislike:checked ~ .dislike-img {
  filter: none;
}

.game-main-content-container {
  background-image: url("../../assets/images/background_spotlight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.2fr;
  padding: 10px;
  gap: 5px;
  grid-template-areas:
    " thumbnail desc"
    " main-media  main-media "
    " choose  choose";

  & .game-main-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black;
    grid-area: main-media;
  }

  & .game-choose-thumbnail {
    width: 31%;
    cursor: pointer;
    border: 1px solid black;
    object-fit: cover;
  }

  & .game-choose-thumbnail-container {
    overflow-x: scroll;
    grid-area: choose;
  }

  & .game-thumbnail {
    grid-area: thumbnail;
  }

  & .game-thumbnail-container {
    margin: 10px;
  }
}

.wish-btn {
  width: 40px;
  cursor: pointer;
}

.buy-btn {
  background-color: #0f9c14;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: montserrat;
  font-size: 1rem;
  transition: background-color 0.6s;

  &:hover {
    background-color: #00ba06;
  }
}

.game-description {
  grid-area: desc;
  flex-grow: 1;
}

.img-container {
  width: 100%;
  @include aspect-ratio(1.5, 1);
}

.desc {
  grid-area: desc;
  font-size: 0.9rem;
}

@include for-narrow-layout {
  .game-main-content-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    max-height: 100vh;
    gap: 5px;
    grid-template-areas:
      " desc desc"
      " main-media  main-meida "
      " choose  choose";
  }
}

.tag {
  display: inline-block;
  line-height: 19px;
  padding: 5px 10px;
  background-color: rgba(103, 193, 245, 0.2);
  box-shadow: none;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include for-normal-layout {
  .game-main-content-container {
    background-color: #f2f5fa;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 15px;
    grid-template-areas:
      " main-media desc  "
      " choose     desc   ";
  }
}
@include for-wide-layout {
}
