@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";
@import "../../assets/styles/basics/helpers";

.game-main-container {
  width: 95%;
  margin: auto;
}

.social-content-container {
  max-height: 300px;
  overflow: overlay;
  & img {
    width: auto;
  }
}

.review-container {
  & img {
    width: auto;
  }
}
.like-img {
  filter: grayscale(1);
}
.dislike-img {
  filter: grayscale(1);
}

#like:checked ~ .like-img {
  filter: none;
}

#dislike:checked ~ .dislike-img {
  filter: none;
}

.game-main-content-container {
  background-image: url("../../assets/images/background_spotlight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  max-height: 100vh;
  padding: 10px;
  gap: 5px;
  grid-template-areas:
    " thumbnail desc"
    " main-media  main-meida "
    " choose  choose";

  & .game-main-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black;
    grid-area: main-media;
  }

  & .game-choose-thumbnail {
    width: 31%;
    cursor: pointer;
    border: 1px solid black;
    object-fit: cover;
  }

  & .game-choose-thumbnail-container {
    overflow-x: scroll;
    grid-area: choose;
  }

  & .game-thumbnail {
    grid-area: thumbnail;
  }

  & .game-thumbnail-container {
    margin: 10px;
  }
}

.game-buy-button {
  background: #0f9c14;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  transition: 0.5s;
  &:hover {
    background: #00ba06;
}
}


.game-description {
  grid-area: desc;
}

.img-container {
  width: 100%;
  @include aspect-ratio(1.5, 1);
}

.game-description {
  grid-area: desc;
  font-size: 0.9rem;
}

@include for-narrow-layout {
  .game-main-content-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    max-height: 100vh;
    gap: 5px;
    grid-template-areas:
      " thumbnail desc"
      " main-media  main-meida "
      " choose  choose";
  }
}

.tag {
  display: inline-block;
  line-height: 19px;
  padding: 5px 10px;
  background-color: rgba(103, 193, 245, 0.2);
  box-shadow: none;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include for-normal-layout {
  .game-main-content-container {
    background-color: #f2f5fa;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 5px;
    grid-template-areas:
      " main-media thumbnail  "
      " choose     desc   ";
  }
}
@include for-wide-layout {
}
