@import "../../assets/styles/setup/variables.scss";
@import "../../assets/styles/basics/layout.scss";

.search-container {
  flex-direction: column;
  padding-block-start: 30px;
  margin-block-end: 30px;
  align-items: flex-start;
  .search-input {
    background-color: $clr2;
    max-width: 200px;
    color: $clr6;
    font-family: inherit;
    padding: 11px 10px;
    margin-inline-end: 5px;
    margin-block-end: 10px;
  }
  .order-btn {
    background-color: $clr5;
    padding: 5px;
    margin-block-end: 10px;
  }
  .title-btn,
  .tag-btn,
  .releaseDate-btn,
  .popularity-btn,
  .price-btn,
  .rating-btn {
    background-color: $clr5;
    padding: 7px 10px;
    margin-inline-end: 5px;
    margin-block-end: 10px;
  }
  #title:checked ~ .title-btn {
    background-color: $clr2;
  }
  #tag:checked ~ .tag-btn {
    background-color: $clr2;
  }
  #popularity:checked ~ .popularity-btn {
    background-color: $clr2;
  }
  #price:checked ~ .price-btn {
    background-color: $clr2;
  }
  #releaseDate:checked ~ .releaseDate-btn {
    background-color: $clr2;
  }
  #rating:checked ~ .rating-btn {
    background-color: $clr2;
  }
  .sort-by-title {
    margin-inline-end: 10px;
  }
  @include for-wide-layout {
    flex-direction: row;
  }
}
