@import "../../assets/styles/setup/variables.scss";



.publish-button {
    background-color: darken($clr2, 20%);
    color: $clr6;
    align-self: flex-end;
    margin-inline-end: 20px;
    width: 146px;

    &:hover {
      background-color: lighten($clr2, 5%);
    }
  }