@import "../../assets/styles/setup/variables.scss";

.tab-container {
}

.tab-nav {
  background-color: $clr3;
  > *:not(:last-child) {
    margin-inline-end: 10px;
  }
}

.inner-tab {
  height: 100%;
  padding: 10px 15px;
  cursor: pointer;
  transition: color, 0.2s;
  &:hover {
    color: $clr2;
    box-shadow: inset 0 -3px 0 $clr1;
  }
}

.details-card {
  width: 350px;
}

// .content-container {
//   display: grid;
//   grid-template-areas: 2fr 1fr;
// }

// .item2 {
//   grid-area: menu;
// }
// .dynamic-prev {
//   grid-area: main;
// }
// .user-card {
//   grid-area: right;
// }

// .grid-container {
//   display: grid;
//   grid-template-areas: " main main right ";
// }
