@import "../../assets/styles/setup/variables.scss";
.profile-container {
  padding-block-start: 60px;
}
.user-card {
  padding-block-start: 20px;
  padding-block-end: 20px;
  > *:not(:last-child) {
    margin-inline-end: 10px;
  }
  .user-img {
    max-width: 95px;
    max-height: 95px;
    border-radius: 10px;
  }
  .user-details {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    strong {
      display: block;
      font-family: montserrat-bold, sans-serif;
      font-weight: normal;
      font-size: 1.3rem;
    }
  }
}

.tab-nav {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  margin-block-end: 20px;
  > *:not(:last-child) {
    margin-inline-end: 10px;
  }
}

.inner-tab {
  border-radius: 1px;
  color: rgb(204, 198, 198);
  height: 100%;
  padding: 10px 15px;
  cursor: pointer;
  transition: color, 0.2s;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  background-color: $clr5;

  &:hover {
    color: $clr6;
    background-color: $clr2;
  }
  &.active {
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 rgba(255, 255, 255, 0.5),
      inset 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: $clr2;
    color: $clr6;
  }
}
