@import "../../assets/styles/setup/variables.scss";

.dashboard-container {
  color: black;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding-block-start: 20px;

  > *:not(:last-child) {
    margin-block-end: 20px;
  }

  .dashboard-header {
    font-weight: bold;
    margin:auto;
    margin-bottom: 20px;
    color:rgb(58, 85, 104);
  }
  .charts-container {
    width: calc(100% - 40px);
    justify-content: space-around;
    margin-block-end: 20px;
  }

  .games-container {
    > *:not(:last-child) {
      margin-block-end: 20px;
    }
    .publish-button {
      background-color: darken($clr2, 20%);
      color: $clr6;
      align-self: flex-end;
      margin-inline-end: 20px;

      &:hover {
        background-color: lighten($clr2, 5%);
      }
    }
  }

  .data-header {
    background-color: #3878a7;
    width: 100%;
    text-align: center;
    color: $clr6;
    line-height: 50px;
  }

}
