.dashboard {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    color: black;
}

.add-button-container{
    height: 22px;
    width: 101px;
    background: steelblue;
    border-radius: 20px;
    text-align: center;
}