@import "../../assets/styles/setup/variables.scss";

.nav-bar {
  z-index: 1;
  background-color: black;
  .nav-logo {
    margin-inline-start: 20px;
    img {
      cursor: pointer;
      width: 115px;
    }
  }
  .nav-link {
    cursor: pointer;
    margin-inline-end: 20px;
    min-height: 60px;
    color: $clr1;
    transition: color, 0.2s;
    &:hover {
      color: $clr6;
      box-shadow: inset 0 -3px 0 $clr1;
    }
  }
  .selected {
    color: $clr6;
    box-shadow: inset 0 -3px 0 $clr1;
  }

  img {
    width: 30px;
  }
}
