@import "../../assets/styles/setup/variables.scss";

.homepage-container {
  .hero-text {
    text-align: center;
    color: $clr6;
    margin-block-end: 40px;
    margin-block-start: 40px;
    .main-heading {
      font-family: audioWide;
      color: $clr1;
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    > *:not(:last-child) {
      margin-block-end: 20px;
    }
  }

  .hero-btn {
    font-family: inherit;
    font-size: 1.1rem;
    color: $clr6;
    position: relative;
    padding: 10px 20px;
    border: 1px $clr6 solid;
    transition: padding-inline-end, 0.5s;
    &:hover {
      padding-inline-end: 40px;
      &::after {
        content: "  →";
        position: absolute;
        right: 12px;
        bottom: 2px;
        font-size: 1.7rem;
      }
    }
  }
}
